.navbar{
  background-color: #ea27f8;
  padding: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 30px;
}

.links{
  display: flex;
  gap: 1rem;
}

.link{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
